.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    margin: 0 ;
    width: 90%;
    
    height: 100px;
}
.nav-logo{
    width: 300px;
    height: 300px;
    object-fit: contain;
    display: block;
}
.nav-opciones {
    display: flex;
    align-items: right;
    justify-content: center;
    list-style: none;
    
}
.nav-opciones li{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0 5px;
}